<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionwd.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0ba82925-c740-443e-8a4d-9bdd998362f4/resourceGroups/rcwd/providers/Microsoft.Web/sites/functionwd</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/0ba82925-c740-443e-8a4d-9bdd998362f4/resourcegroups/rcwd/providers/Microsoft.ContainerRegistry/registries/acrwd</ContainerResourceId>
    <ContainerResourceName>acrwd</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>acrwd.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>